.mealBoxWrapper {
  @media (min-width: 768px) {
    max-width: 20%;
    flex: 0 0 20%;
  }
  .mealBox {
    width: 80px;
    height: 80px;
    overflow: hidden;
    @media (min-width: 768px) {
      width: 100%;
      height: 200px;
      margin: 0 auto;
    }
    .mealBoxText {
      height: 100%;
      display: flex !important;
      align-items: center;
      border-radius: 12px;
      flex-direction: column;
      justify-content: center;
      background-color: #179c78;
    //   .heading {
    //   }
    //   .para {
    //   }
    }
    .mealBoxText1 {
      height: 100%;
      display: flex;
      align-items: center;
      border-radius: 12px;
      flex-direction: column;
      justify-content: center;
      background-color: #d1ebe4;
    }
  }
  .mealName {
    padding: 2px 0;
  }
}
