.generatorWrapper {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 0px;
  text-align: center;
  @media (min-width: 768px) {
    padding-top: 40px;
  }
  @media (min-width: 992px) {
    padding-top: 50px;
  }
  button {
    max-width: 348px;
    width: 100%;
    margin-bottom: 20px;
    &.isExecutive {
      &:hover {
        background-color: #fef1ea;
        border-color: #fa7324;
        color: #fa7324;
      }
    }
  }
  .codeWrap {
    max-width: 348px;
    margin: 0 auto;
    border: 1px solid #179c78;
    border-radius: 24px;
    h1 {
      letter-spacing: 5px;
      font-weight: 400;
      padding: 15px 20px;
      font-family: "AWConquerorInline";
      font-size: 30px;
      text-transform: uppercase;
      @media (min-width: 768px) {
        font-size: 40px;
      }
      @media (min-width: 992px) {
        font-size: 50px;
      }
    }
  }
}
