.userManagementWrapper {
  background: url(../../../public/images/banner/slider1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 150px;
  position: relative;
  min-height: calc(100vh - 150px);
  @media (min-width: 768px) {
    background: url(../../../public/images/banner/slider1desktopnew.png);
    min-height: calc(100vh - 270px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 14%;
  }
  &.sty2 {
    padding-top: 265px;
    min-height: calc(100vh - 265px);
    @media (min-width: 768px) {
      min-height: calc(100vh - 270px);
      padding-top: 14%;
    }
    .signUpContent {
      @media (min-width: 768px) {
        padding-bottom: 25px;
      }
      .pageDetail {
        margin: 24px 0 0;
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 100%;
  }
  .userForm {
    z-index: 2;
    position: relative;
    max-width: 76%;
    margin: auto;
    text-align: center;

    .formWrapper{
      .formField {
        // .selectWrap {
        //   .MuiAutocomplete-root {
        //     margin-bottom: 15px;
        //     .MuiFormControl-root {
        //       .MuiInputBase-root {
        //         padding-right: 0;
      
        //         &::after {
        //           display: none;
        //         }
      
        //         &::before {
        //           display: none;
        //         }
      
        //         .MuiInputBase-input {
        //           border: 1px solid #fff;
        //           border-radius: 24px;
        //           padding: 4px 4px 4px 15px;
        //           min-height: 35px;
        //           color: #fff;
        //         }
      
        //         .MuiAutocomplete-endAdornment {
        //           button {
        //             margin-right: 10px;
        //             padding: 0;
        //             max-width: auto;
        //             width: auto;
      
        //             &.MuiAutocomplete-popupIndicator {
        //               background-color: transparent;
        //               border: none;
        //               position: relative;
      
        //               &::before {
        //                 // background-image: url(../../../../public/images/icons/arrow-down-counter-white.png);
        //                 background-image: url(../../../public/images/icons/arrow-down-counter-white.png);
        //                 position: absolute;
        //                 content: "";
        //                 height: 20px;
        //                 width: 20px;
        //                 background-repeat: no-repeat;
        //                 bottom: -2px;
        //               }
      
        //               svg {
        //                 opacity: 0;
        //                 visibility: hidden;
        //               }
        //             }
        //           }
        //         }
        //       }
        //     }
        //   }
        // }
      }
    }
    .formField {
      &.isExecutive {
        form {
          svg {
            path {
              // fill: #fa7324;
            }
          }
        }
      }
      .btnWrapper {
        display: flex;
        flex-direction: column;
      }
    
    }
    @media (min-width: 768px) {
      max-width: 870px;
      padding: 60px 60px 47px 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgba(60, 60, 59, 0.9);
      // mix-blend-mode: multiply;
      border-radius: 24px;
      .signUpContent {
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
      }
      .formWrapper {
        flex: 0 0 35%;
        max-width: 35%;
        min-height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .recaptcha {
          margin-top: 10px;
        }
        .formField {
          .btnWrapper {
            @media (min-width: 768px) {
              display: flex;
              flex-direction: column;
            }
          }
          .recaptcha {
            margin-top: 10px;
          }
        
        }
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: -60px;
          width: 1px;
          height: 100%;
          background-color: white;
        }
      }
    }
    .socialSignUp {
      margin-top: 22px;
      .socialTitle {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-136%);
          width: 82px;
          height: 1px;
          background: white;
        }
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translateX(136%);
          width: 82px;
          height: 1px;
          background: white;
        }
      }
      .socialIcons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .iconBox {
          padding: 0 5px;
        }
      }
    }
    .formButton {
      // margin-top: 20px;
      max-width: 255px;
      width: 100%;
      margin: 20px auto 0;
      &.Mui-disabled {
        color: rgba(255, 255, 255, 0.5);
      }
      @media (min-width: 768px) {
        max-width: 250px;
      }
    }
    .forgotPassDetail {
      margin-bottom: 35px;
      margin-top: 125px;
      h2 {
        max-width: 100%;
        @media (min-width: 992px) {
          max-width: 90% !important;
          font-size: 30px;
        }
        @media (min-width: 768px) {
          max-width: 60% !important;
        }
      }
      @media (min-width: 768px) {
        text-align: left;
        margin-top: 20px;
        h2,
        p {
          text-align: left;
        }
      }
      .secDetail {
        margin-top: 15px;
      }
    }
    .forgotTitle {
      @media (min-width: 768px) {
        a {
          font-size: 14px;
        }
      }
    }
   
  }
  .signUpContent {
    .pageTitle {
      max-width: 80%;
      margin: auto;
      @media (min-width: 768px) {
        max-width: 100%;
        text-align: left;
        color: #179c78;
      }
    }
    .pageDetail {
      margin: 32px 0;
      @media (min-width: 768px) {
        text-align: left;
        // font-size: 18px;
        line-height: 1.5;
      }
      &.sty2 {
        @media (min-width: 768px) {
          font-size: 40px;
          line-height: 1.5;
        }
      }
    }
    .signUpText {
      display: flex;
      padding: 15px 0;
      justify-content: center;
      @media (max-width: 369px) {
        font-size: 11px;
      }
      @media (min-width: 768px) {
        justify-content: flex-start;
        padding: 0;
      }
      a {
        text-decoration: none;
        margin-left: 5px;
      }
    }
    .pageDetailpara {
      text-align: center;
      font-size: 25px;
      margin: 0;
      margin-top: 10px;
      @media (min-width: 768px) {
        text-align: left;
        font-size: 30px;
        margin: 0;
        margin-top: 10px;
      }
    }
    .screenLogo {
      @media (min-width: 768px) {
        text-align: left;
      }
    }
  }
}
