.userManagementWrapper {
  background: url(../../../public/images/banner/slider1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  padding-top: 150px;
  position: relative;
  min-height: calc(100vh - 150px);
  @media (min-width: 768px) {
    background: url(../../../public/images/banner/slider1desktopnew.png);
    min-height: calc(100vh - 270px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 14%;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 100%;
  }
  .formWrap {
    margin: 0 30px;
  }
  .userForm {
    background: rgba(60, 60, 59, 0.9);
    position: relative;
    z-index: 9;
    max-width: 602px;
    margin: 0 auto;
    text-align: center;
    border-radius: 24px;
    padding: 60px 0;
    @media (min-width: 768px) {
      padding: 60px;
    }
    h1 {
      padding-bottom: 16px;
    }
    h2 {
      padding-bottom: 6px;
    }
    .cta {
      padding-top: 16px;
      a {
        padding: 5px 25px;
      }
    }
  }
}
