.blog_sec {
  padding-bottom: 50px;
  .blog_heading {
    text-align: center;
    padding-bottom: 30px;
  }
  .blog {
    .content_box {
      margin: 0 auto 30px;
      max-width: 345px;
      background-color: #f4f4f8;
      border-radius: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: 768px) {
        max-width: 100%;
      }
      .content_wrapper {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        .image {
          width: 345px;
          height: 269px;
          object-fit: cover;
          @media (min-width: 768px) {
            width: 300px;
            height: 200px;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          padding: 30px;
          padding-bottom: 50px;
          position: relative;
          @media (min-width: 768px) {
            padding-bottom: 0;
          }

          &::after {
            content: "";
            background-image: url(../../../public/images//blogs/tabArrow.png);
            background-repeat: no-repeat;
            position: absolute;
            width: 42px;
            height: 42px;
            bottom: 20px;
            right: 20px;
          }
          .heading {
            padding-bottom: 10px;
          }
          .para {
            padding-bottom: 20px;
            @media (min-width: 768px) {
              max-width: 85%;
            }
          }
        }
      }
    }
  }
}
