.ourFood_sec {
  padding-bottom: 50px;
  .content {
    @media (min-width: 768px) {
      max-width: 45%;
    }
    .heading {
      padding-bottom: 15px;
    }
    .fields {
      display: flex;
      justify-content: center;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #e6e6e6;
        bottom: -20px;
      }
      .author_name {
        position: relative;
        max-width: 34%;
        flex: 0 0 34%;
        display: flex;
        align-items: center;

        &::before {
          content: "";
          width: 24px;
          height: 24px;
          border-radius: 50px;
          border: 1px solid #179c78;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 0px;
        }
      }
      .icon {
        max-width: 30%;
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .food_content {
    margin-top: 50px;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 20px;
    }

    .image {
      text-align: center;
      @media (min-width: 768px) {
        max-width: 50%;
        flex: 0 0 50%;
        margin-top: -100px;
      }

      img {
        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }
    .text_content {
      @media (min-width: 768px) {
        max-width: 50%;
        flex: 0 0 50%;
      }
      .para_top {
        @media (min-width: 768px) {
          max-width: 90%;
        }
      }
    }
  }
  .bottom_text {
    padding-top: 30px;
  }
}
