.primaryfont {
    font-family: $primaryFont;
}

html {
    direction: ltr;
    width: 100%;
    &.browserIos {
        overflow-x: hidden;
    }
}

body {
    font-family: $primaryFont;
    color: $black;
    background: $white;
    font-weight: 400;
    line-height: 1.23;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    .popup-video {
        width: 100%;
        height: 100%;
        padding: 0;
        .video-js {
            width: 100%;
            height: 100%;
        }
        // .popup-video.fancybox-content {
        //      padding: 0 !important;
        // }
        .fancybox-close-small {
            background-color: #fff;
            right: 20px;
        }
    }
    
    
}

::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

*,
*:after,
*:before {
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

p {
    margin: 10px 0;
}

svg {
    transform: translateZ(0);
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.toSvg {
    max-width: 100%;
    max-height: 100%;
    polygon,
    path {
        transition: fill 0.35s linear;
    }
}

input::-ms-clear {
    display: none;
}

.IE {
    .gridView {
        >ul {
            >li {
                flex: 0 0 23%;
            }
        }
    }
}

h1, 
.heading1 {
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
    font-family: $primaryFont;
    @media #{$vptabletP} {
			     font-size: 25px;
		}
        @media #{$vpmobile} {
			     font-size: 20px;
		}
        &.bold {
            font-weight: 700;
        }
}

h2, 
.heading2 {
    font-size: 25px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    font-family: $primaryFont;
    @media #{$vptabletP} {
			     font-size: 20px;
		}
        @media #{$vpmobile} {
			     font-size: 18px;
		}
        &.bold {
            font-weight: 700;
        }
}
 
.para-large {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    font-family: $primaryFont;
    @media #{$vptabletP} {
			     font-size: 16px;
		}
        @media #{$vpmobile} {
			     font-size: 12px;
		}
        &.bold {
            font-weight: 700;
        }
}
.para-small {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #ffffff;
    font-family: $primaryFont;
    &.bold {
            font-weight: 700;
        }
}
.btn-tc {
    text-align: left;
    padding-top: 20px;
    a {
    width: 100%;
    max-width: 120px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #179c78;
    height: 37px;
    margin: 0;
    text-align: center;
    &:focus {
        outline: none;
    }
    &:hover {
        background-color: #CFEBE4;
        color: #000000;
        border-top: 1px solid #CFEBE4;
        border-bottom: 1px solid #CFEBE4;
    }
    }
}
