// Custom Variables //
$primaryFont: 'EuclidCircularB';


// Set Colors
$black: #000000;
$white: #ffffff;


// Media Sizes
$vpdesktopMin: "(min-width:2100px)";
$vpMddesktop: "(max-width:1700px)";
$vpdesktop: "(max-width:1400px)";
$vptabletL: "(max-width:1229px)";
$vptabletP: "(max-width:991px)";
$vpmobile: "(max-width:767px)";
$vpsmmobile: "(max-width:400px)";
$vpxsmobile: "(max-width:359px)";