.orderHistorySec {
  padding: 0px 0 50px 0;
  max-width: 100%;
  margin: 0 auto;
  .head_sec_Desktop {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    @media (max-width: 767px) {
      display: none;
    }
    .date_meal_plan_wrap {
      padding: 2px 0;
      display: flex;
      justify-content: space-between;
      @media (min-width: 768px) {
        padding: 8px 0;
        max-width: 30%;
        flex: 0 0 30%;
      }
      .orderID {
        max-width: 20%;
        flex: 0 0 20%;
        @media (min-width: 768px) {
          max-width: 25%;
          flex: 0 0 25%;
        }
      }
      .date {
        max-width: 30%;
        flex: 0 0 30%;
        @media (min-width: 768px) {
          max-width: 25%;
          flex: 0 0 25%;
        }
      }
      .meal_plan {
        max-width: 50%;
        flex: 0 0 50%;
        @media (min-width: 768px) {
          max-width: 70%;
          flex: 0 0 70%;
        }
      }
    }
    .duration_sec {
      padding: 2px 0;
      display: flex;
      justify-content: space-between;
      .durationCheck {
        flex: 0 0 60%;
        max-width: 60%;
      }
      .PaymentStatus {
        flex: 0 0 30%;
        max-width: 30%;
      }
      @media (min-width: 768px) {
        padding: 8px 0;
        max-width: 70%;
        flex: 0 0 70%;
      }
    }
  }

  .order_history {
    padding: 21px;
    border: 1px solid #d1ebe4;
    border-radius: 12px;
    margin-bottom: 15px;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      padding: 10px 18px;
      display: flex;
      justify-content: space-evenly;
      border-radius: 24px;
    }
    .date_meal_plan_wrap {
      padding: 2px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (min-width: 768px) {
        justify-content: initial;
        padding: 8px 0;
        max-width: 30%;
        flex: 0 0 30%;
        justify-content: space-between;
      }
      .orderID {
        margin-bottom: 5px;
        max-width: 50%;
        flex: 0 0 50%;
        @media (min-width: 768px) {
          max-width: 25%;
          margin-bottom: 0px;
          flex: 0 0 25%;
        }
      }
      .meal_plan {
        margin-bottom: 5px;
        max-width: 40%;
        flex: 0 0 40%;
        @media (min-width: 768px) {
          margin-bottom: 0px;
          max-width: 70%;
          flex: 0 0 70%;
        }
      }
    }
    .duration_sec {
      padding: 2px 0;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      margin-bottom: 5px;
      justify-content: space-between;
      @media (min-width: 768px) {
        align-items: center;
        margin-bottom: 0px;
        padding: 8px 0;
        max-width: 70%;
        flex: 0 0 70%;
      }
      .durationCheck {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
        @media (min-width: 768px) {
          margin-bottom: 0px;
          flex: 0 0 55%;
          max-width: 55%;
        }
      }
      .PaymentStatus {
        &.isExecutive{
          a{
            span{
              color:  #fa7324;
            }
          }
        }
        flex: 0 0 40%;
        max-width: 40%;
        @media (min-width: 768px) {
          flex: 0 0 30%;
          max-width: 30%;
        }
        a {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {

            margin-left: 10px;
            color: #119a77;
          }
        }
      }
    }
    .status_price_wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 0;
      @media (min-width: 768px) {
        padding: 8px 0;
        max-width: 20%;
        flex: 0 0 20%;
      }
      .status {
        max-width: 30%;
        flex: 0 0 30%;
      }
      .price {
        max-width: 30%;
        flex: 0 0 30%;
        @media (min-width: 768px) {
          max-width: 40%;
          flex: 0 0 40%;
        }
      }
      .reset {
        text-align: center;
        max-width: 20%;
        flex: 0 0 20%;
        img {
          display: block;
          margin-left: auto;
          @media (min-width: 768px) {
            margin-left: 0;
          }
        }
        @media (min-width: 768px) {
          max-width: 20%;
          flex: 0 0 20%;
        }
      }
    }
    .mob_only {
      @media (min-width: 768px) {
        display: none;
      }
    }
    .ext_mar {
      margin-top: 1px;
      @media (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
}
.orderHeading {
  padding-top: 205px;
}
.anchorArea {
  cursor: pointer;
}
