// .contentWrapper {
//   .contentText {
//     text-align: center;
//     padding: 50px 60px 30px;
//     .heading {
//       max-width: 200px;
//       margin: 0 auto;
//       @media (min-width: 768px) {
//         max-width: 100%;
//       }
//     }
//     .para {
//       margin: 0 auto;
//       max-width: 222px;
//       margin-top: 10px;
//       margin-bottom: 33px;
//       @media (min-width: 768px) {
//         max-width: 100%;
//       }
//     }
//   }
// }
.banner {
  position: relative;

  &::before {
    z-index: 1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
  .secImg {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .txtWrapper {
    text-align: center;
    z-index: 2;
    padding: 80px 0 48px 0;
    position: relative;
    max-width: 260px;
    margin: auto;
    .buttonWrapper {
      padding-top: 16px;
      a {
        padding: 5px 21.5px !important;
        &.executiveBtn {
          &:hover {
            background-color: #FEF1EA;
            color: #fa7324;
          }
        }
      }
    }
    @media (min-width: 992px) {
      padding: 100px 0 73px;
      max-width: 100%;
    }
    @media (min-width: 768px) {
      max-width: 100%;
    }
    @media (min-width: 1441px) {
      max-width: 100%;
      padding: 77px 0 77px;
    }
  }
}
