.isExecutive{
   background: #FFF1EA !important;
}
.startBox {
  background: #f4f4f8;
  max-width: 300px;
  margin: auto;
  padding: 32px 0;
  text-align: center;
  border-radius: 25px;
  @media (min-width: 768px) {
    max-width: 668px;
    padding: 54px 0;
  }
  .isExecutive{
    color: #fff;
    border-color: #FA7324;
    background-color: #FA7324 !important;
    &:hover{
      border-color: #FA7324;
      color: #FA7324;
      background-color: #fff !important;
    }
  }
  a {
    padding: 5px 21.5px !important;
  }
  .boxTitle {
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 24px;
       margin-bottom: 15px;
      }
   }
}
.startBox2 {
  
  background: #f4f4f8;
  max-width: 300px;
  margin: auto;
  padding: 43px 0;
  text-align: center;
  border-radius: 25px;
  margin-top: 40px;
  @media (min-width: 768px) {
    max-width: 668px;
    padding: 69.5px 0;
  }
  .isExecutive{
    
    border-color: #FA7324;
    color: #FA7324;
    &:hover{
      background-color: #FA7324 !important;
      color: #fff;
    }
  }
  a {
    padding: 5px 21.5px !important;
    
  }
  .boxTitle {
    margin-bottom: 10px;
    @media (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}
