.panelDetailWrapper {
  &.isExecutive{
    .MuiAccordionSummary-content{
      &::before{
        content: '';
          background: url(../../../public/images/icons/arrow-down-orange.png) !important;
      }
    }
  }
  padding-top: 45px;
  margin-left: -15px;
  width: calc(100% + 30px);
  @media (min-width: 768px) {
    margin-left: auto;
    width: 100%;
  }
  .panelTtileBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    @media (min-width: 768px) {
      justify-content: space-between;
      align-items: center;
    }
    .panelTitle {
      &.isExecutive{
        .paraSmall{
          span{
            a{
              color: #fa7324;
              text-decoration-color: #fa7324;
            }
          }
        }
      }
      flex: 0 0 70%;
      max-width: 70%;
      @media (min-width: 575px) {
        flex: 0 0 75%;
        max-width: 75%;
      }
      .paraSmall {
        margin: 0;
        font-size: 15px;
        font-weight: 500;
        span {
          display: block;
          font-size: 12px;
          color: #000;
          a {
            display: inline;
            color: #179c78;
            font-size: 12px;
            @media (min-width: 768px) {
              font-size: 15px;
            }
          }
          @media (min-width: 768px) {
            font-size: 15px;
          }
        }
        a {
          display: inline;
          color: #179c78;
          font-size: 12px;
          @media (min-width: 768px) {
            font-size: 15px;
          }
        }
        @media (min-width: 768px) {
          font-size: 20px;
        }
      }
      .description {
        a {
          display: inline;
          color: #179c78;
        }
      }
      p {
        margin: 5px 0 10px;
      }
    }
  }
  .panelImage {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 0px;
    text-align: right;
    display: flex;
    align-items: center;
    height: 100%;
    @media (min-width: 575px) {
      flex: 0 0 15%;
      max-width: 15%;
      display: block;
      height: auto;
    }
    img {
      max-height: 50px;
      width: 90%;
      object-fit: contain;
      @media (min-width: 575px) {
        width: 100%;
      }
    }
    @media (min-width: 768px) {
      max-width: 15%;
      flex: 0 0 15%;
      padding-right: 50px;
    }
    @media (min-width: 1441px) {
      max-width: 15%;
      flex: 0 0 15%;
      padding-right: 35px;
    }
  }
  .contactLabels {
    &.isExecutive{
      a{
        color: #000;
        border-color: #fa7324;
        &:hover{
          background-color: #fa7324 !important;
          color: white;
        }
        svg{
          path{
            fill: #fa7324;
          }
        }
      }
    }
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    a {
      font-size: 10px;
      min-width: auto;
      padding: 5px 7px;
      margin-right: 3px;
      margin-bottom: 5px;
      height: auto;
      min-width: 65px;
      &.contactPhone {
        background-color: red;
        svg {
          width: 13px;
          height: 14px;
        }
      }
      &:hover {
        svg {
          path {
            fill: #fff;
          }
        }
      }
      @media (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 10px;
        height: 35px;
      }
      svg {
        padding-right: 5px;
      }
    }
  }
  .panelDetailBoxes {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    @media (min-width: 768px) {
      padding-left: 26px;
      padding-right: 0px;
    }
    &::before {
      content: "";
      background-color: #179c78;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 10px;
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    .postBox {
      text-align: left;
      background: #f4f4f8;
      border-radius: 15px;
      padding: 18px;
      margin-bottom: 10px;
      @media (min-width: 768px) {
        h3 {
          font-size: 15px;
        }
      }

      @media (min-width: 768px) {
        max-width: 28%;
        flex: 0 0 28%;
        margin-right: 20px;
      }
      .mealList {
        margin-top: 15px;
        p {
          padding: 7px 0;
          @media (min-width: 768px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}
