.sec-wrap {
  .banner-sec {
    height: 100vh;
    display: flex;
    flex-direction: column;
    .bg-img {
      position: relative;
      background-image: url(../img/bg/bg-main.jpg);
      width: 100%;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 65px 0;
      flex-grow: 1;
      text-align: center;
      display: flex;
      @media #{$vpmobile} {
        padding: 35px 0;
      }
      .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0.5;
        width: 100%;
        height: 100%;
      }
      .banner-wrap {
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .sec-content {
          h1 {
            padding: 10px 0 40px 0;
            @media #{$vpmobile} {
              padding: 10px 0;
            }
          }
        }
        .vid-poster {
          position: relative;
          @media #{$vpmobile} {
            max-width: 500px;
            margin: 0 auto;
          }
          .icon-play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media #{$vptabletP} {
              width: 30px;
            }
            @media #{$vpsmmobile} {
              width: 20px;
            }
          }
        }
      }
    }
    .bg-img-lower {
      position: relative;
      background-image: url(../img/bg/bg-footer.jpg);
      width: 100%;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 40px 0;
      text-align: center;
      @media #{$vpmobile} {
        padding: 20px 0;
      }
      .footer-sec-content {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 15px;
        h1 {
          padding-bottom: 20px;
          @media #{$vpmobile} {
            line-height: 28px;
          }
        }
        .para-large {
          padding-bottom: 15px;
          @media #{$vpmobile} {
            padding-bottom: 0;
          }
        }
        #mc_embed_signup {
          background: transparent;
          clear: left;
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 313px;
          width: 100%;
          margin: 0 auto;
          border: 1px solid #ffffff;
          border-radius: 20px;
          border-right: 0;
          position: relative;
          height: 37px;
          #mc-embedded-subscribe-form input.mce_inline_error {
            border: none;
          }
          #mc-embedded-subscribe-form div.mce_inline_error {
            display: none !important;
          }
          div#mce-responses {
            float: none;
            padding: 0;
            position: absolute;
            top: 43px;
            height: auto;
            line-height: 1.2;
            margin: 0;
            display: block;
            overflow: visible;
            text-align: center;
            white-space: nowrap;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            div#mce-responses .response {
              color: #fff;
              font-size: 12px;
              width: 100%;
              text-align: center;
              padding: 0;
              margin: 0;
              display: block;
              float: none;
              font-weight: normal;
            }
            .response#mce-error-response {
              color: #FAD036;
              padding: 0;
              margin: 0;
              font-size: 12px;
              font-weight: normal;
            }
            .response#mce-success-response {
              color: #9cff13;
              font-size: 12px;
              font-weight: normal;
              padding: 0;
              margin: 0;
            }
          }

          form {
            margin: 0;
            width: 100%;
            .mc-field-group {
              min-height: 37px;
              padding: 0;
              position: relative;
              .mce_inline_error {
                position: absolute;
              }

              .field-box {
                max-width: 100%;
                padding: 11px;
                text-align: center;
                border: 0;
                background-color: transparent;
                color: #ffffff;
                font-weight: 300;
                font-size: 12px;
              }
            }

            .submit-btn {
              max-width: 36%;
              flex: 0 0 36%;
              height: 37px;
              button {
                width: 100%;
                padding: 0;
                border: 0;
                border-radius: 20px;
                background-color: #ffffff;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #179c78;
                height: 37px;
                margin: 0;
                &:focus {
                  outline: none;
                }
                &:hover {
                  background-color: #CFEBE4;
                  color: #000000;
                  border-top: 1px solid #CFEBE4;
                  border-bottom: 1px solid #CFEBE4;
                }
              }
            }
          }
        }
        .contact-wrap {
          .error-txt {
            font-size: 12px;
            color: #FAD036;
            position: absolute;
            bottom: -18px;
            left: 20px;
            width: 100%;
          }
          .field-box::placeholder {
            color: #ffffff;
            font-weight: 300;
            font-size: 12px;
            line-height: 15px;
          }
        }
        .para-small {
          padding-top: 20px;
          a {
            text-decoration: none;
            color: #ffffff;
            position: relative;
            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0;
              height: 1px;
              width: 0;
              transition: all 0.35s ease;
              background-color: #ffffff;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }
          }
        }
        p:last-child {
           padding: 0;
          }
          .icons-wrapper {
            padding: 10px 0;
            .js-tosvg {
              margin: 0 10px;
            }
          }
      }
    }
    &.term-condition {
      .banner-wrap {
        max-width: 1000px;
        width: 100%;
        .content-page {
          background-color: #000;
          padding: 30px 50px;
          border-radius: 25px;
          margin: 25px 0;
          .text-style {
            max-height: 500px;
            overflow-y: hidden;
            padding-bottom: 30px;
            ul {
              li {
                padding: 15px 0;
                text-align: left;
                a {
                  text-decoration: none;
                  color: #FAB03B;
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #FAB03B;
                    height: 1px;
                    width: 0;
                    left: 0;
                    bottom: -2px;
                    transition: all 0.35s ease;
                  }
                  &:hover {
                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
            }
            .privacy-policy {
              .heading2, .para-small {
                text-align: left;
                a {
                  text-decoration: none;
                  color: #FAB03B;
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    background-color: #FAB03B;
                    height: 1px;
                    width: 0;
                    left: 0;
                    bottom: -2px;
                    transition: all 0.35s ease;
                  }
                  &:hover {
                    &::after {
                      width: 100%;
                    }
                  }
                }
              }
              ul {
                list-style: inside;
                li {
                  padding: 5px 0;
                }
              }
            }
          }
        }
      } 
    }
  }
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #179c78;
  width: 5px;
  border-radius: 0;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #D9D9D9;
  width: 1px;
} 
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #CFEBE4;
}
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #CFEBE4;
}
