.mealWrapper {
  &.isExecutive{
    .mealText{
      .macroStyle{
        background-color: #179c78 !important;
        border-color: #179c78 !important;
      }
    }
    .mealBoxes{
      .mealboxWrap{
        p{
          color: #000 !important;
        }
        .Mealbox{
          border-color: #fa7324;
          h2 {
            color: #000  ;
           }
          p{
            color: #000;
          }
        }
      }
    }
  }
  padding: 28px 0;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .mealText {
    h3 {
      font-weight: 600;
    }
    @media (min-width: 768px) {
      flex: 0 0 40%;
      max-width: 40%;
    }
    .buttonWrapper {
      p {
        display: flex;
        align-items: center;
      }
      .macroStyle {
        font-size: 15px;
        padding: 6px 3px;
        font-weight: 600;
        color: #fff;
        background-color: #179c78;
        border: 1px solid #179c78;
        border-radius: 5px;
        // line-height: 35px;
      }
    }
  }
  .mealBoxes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    @media (min-width: 375px) {
      justify-content: center;
    }
    @media (min-width: 768px) {
      flex: 0 0 60%;
      max-width: 60%;
      justify-content: flex-end;
    }
    @media (min-width: 992px) {
      flex: 0 0 50%;
      max-width: 50%;
      justify-content: flex-end;
    }
    .mealboxWrap {
      flex: 0 0 70px;
      max-width: 70px;
      margin: 0;
      text-align: center;
      @media (min-width: 375px) {
        margin: 0 11px;
      }
      @media (min-width: 768px) {
        flex: 0 0 16.669%;
        max-width: 16.669%;
        margin: 0 15px;
      }
      .Mealbox {
        padding: 14px 10px;
        text-align: center;
        border-radius: 12px;
        border: 1px solid #179c78;
        @media (min-width: 768px) {
          padding: 17.25px 0px;
          border-radius: 24px;
        }
        @media (min-width: 992px) {
          padding: 17.25px 10px;
          border-radius: 24px;
        }
      }
    }
  }
  .calorieDatra {
    @media (min-width: 768px) {
      flex: 0 0 100%;
      p {
        text-align: right;
      }
    }
  }
}
