.mealDistrubutionBoxWrapper {
  &.isExecutive{
    .postDetail{
      .caloriesCount{
        // background-color: #fa7324 !important;
      }
        .caloriesCountBox{
          .caloriesBox{
            &.sty2{
              // background-color: #fa7324 !important;
              
            }
            // border-color: #fa7324 !important;
            p{
              color: black;
          }
        }
      }
    }
    .totalCalories{
      .totalCaloriesBox{
        background: #f4f4f8 !important;
        border: none !important;
        .caloriesTotalBox{
          .heading{
            color: #fa7324 !important;
          }
        }
        &.isExecutive {
          background: #f4f4f8 !important;
          border: 1px solid #fa7324 !important;
          border-radius: 12px;
          .caloriesTotalBox {
            .heading {
              color: #fa7324 !important;
            }
          }
        }
      }
    }
  }
  padding: 0 10px;
  margin-left: -15px;
  width: calc(100% + 9px);
  @media (min-width: 768px) {
    margin-left: initial;
    width: auto;
  }
  .pastOrder {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    text-align: center;
    @media (min-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
  .mealDistrubutionBox {
    background: #f4f4f8;
    border-radius: 12px;
    margin-bottom: 50px;
    @media (min-width: 768px) {
      background: transparent;
      margin-bottom: 50px;
    }
    &.sty2 {
      border-radius: 12px;
      padding: 0;
      border-top: none;
      border-bottom: none;
      @media (min-width: 768px) {
        border-radius: 0;
        padding: 20px 0;
        border-top: 1px solid #fa7324;
        border-bottom: 1px solid #fa7324;
      }
    }
    .titleBar {
      background: #179c78;
      border-radius: 12px 12px 0px 0px;
      padding: 10px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (min-width: 768px) {
        background: transparent;
        border-bottom: 1px solid #e6e6e6;
        padding: 0px 0 15px 0;
        h2 {
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          color: #787f82;
        }
        button {
          border-color: #179c78;
          color: #179c78;
        }
      }
      .barBtn {
        .orange {
          background-color: #fa7324;
          border-color: #fa7324;
          color: #fff;
          &:hover {
            background-color: transparent;
            color: #fa7324;
            svg {
              path {
                fill: #fa7324;
              }
            }
          }
          svg {
            path {
              fill: #fff;
            }
          }
        }
        button {
          justify-content: flex-start;
          padding: 5px 10px;
          @media (min-width: 768px) {
            padding: 5px 15px;
          }
          span {
            line-height: 1;
            padding-left: 7px;
          }
          &:hover {
            color: white;
            svg {
              path {
                fill: white;
              }
            }
          }
          svg {
            path {
              fill: #ffffff;
              @media (min-width: 768px) {
                fill: #179c78;
              }
            }
          }
        }
      }
    }
    .mealDetailBoxWrapper {
      position: relative;
      margin-top: 10px;
      padding: 10px;
      @media (min-width: 768px) {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: -3px;
        margin-right: -3px;
      }
      @media (min-width: 1400px) {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -3px;
        margin-right: -3px;
      }
      .mealDetailBox {
        position: relative;
        margin-top: 25px;
        margin-right: 0px;
        @media (min-width: 768px) {
          flex: 0 0 48%;
          max-width: 48%;
          margin: 10px 4.9px;
        }
        @media (min-width: 992px) {
          flex: 0 0 45%;
          max-width: 45%;
          margin: 10px 4.9px;
        }
        @media (min-width: 1400px) {
          flex: 0 0 32.5%;
          max-width: 32.5%;
        }
      }
      .mealBox {
        margin-top: 14px;
        background: white;
        border-radius: 15px;
        padding: 12px 13px 0;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        @media (min-width: 768px) {
          padding: 17px 13px 0;
          flex-wrap: nowrap;
          border: 1px solid #e6e6e6;
          padding-bottom: 15px;
          flex-direction: column;
          min-height: 220px;
        }
        @media (min-width: 1199px) {
          flex-direction: column;
          justify-content: space-between;
        }
        .swapIcon {
          position: absolute;
          right: 15px;
          .swapIconCta {
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            &:disabled {
              opacity: 1;
              color: #fa7324 !important;
            }
            img {
              width: 19px;
              height: 18px;
            }
          }
        }
        .postImg {
          flex: 0 0 100%;
          max-width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .boxImg {
            border-radius: 12px;
            overflow: hidden;
            height: 78px;
            width: 78px;
            flex: 0 0 78px;
            max-width: 78px;
            @media (min-width: 375px) {
              height: 88px;
              width: 88px;
              flex: 0 0 88px;
              max-width: 88px;
            }
            @media (min-width: 768px) {
              height: 120px;
              width: 120px;
              flex: 0 0 120px;
              max-width: 120px;
            }
            .secWrap {
              position: relative;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
                @media (min-width: 768px) {
                  width: 120px;
                  height: 120px;
                }
              }
              svg {
                width: 15px;
                height: 15px;
                position: absolute;
                bottom: 2px;
                right: 5px;
                @media (min-width: 768px) {
                  width: 24px;
                  height: 24px;
                }
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              @media (min-width: 768px) {
                width: 120px;
                height: 120px;
              }
            }
          }
          .boxText {
            flex: 0 0 60%;
            max-width: 60%;
            padding-top: 24px;
            @media (min-width: 768px) {
              font-size: 18px !important;
              padding-top: 25px;
            }
            h3 {
              min-height: auto;
              font-size: 15px !important;
              padding-top: 10px;
              margin-bottom: 10px;
              font-weight: 600;
              padding-right: 35px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              -webkit-box-orient: vertical;
              @media (min-width: 768px) {
                min-height: 46px;
                font-size: 18px !important;
                padding-right: 0;
              }
            }
            p {
              font-size: 12px;
              margin-bottom: 5px;
              min-height: auto;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              line-clamp: 3;
              -webkit-box-orient: vertical;
              @media (min-width: 768px) {
                min-height: 58.5px;
                font-size: 15px;
                padding-bottom: 0;
              }
            }
            .read_more {
              color: #179c78;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              font-size: 12px;
            }
          }
          @media (min-width: 768px) {
            // flex: 0 0 45%;
            // max-width: 45%;
            max-width: 100%;
          }
          @media (min-width: 1400px) {
            flex: 0 0 100%;
            max-width: 100%;
          }
          .caloriesCount {
            background: #179c78;
            box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
            border-radius: 12px;
            padding: 7px 2px;
            min-width: 85px;
            p {
              @media (min-width: 768px) {
                font-size: 12px;
              }
            }
          }
        }
        .postDetail {
          flex: 0 0 100%;
          max-width: 100%;
          margin-top: 0px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          position: relative;
          @media (min-width: 768px) {
            margin-top: 8px;
            flex: 0 0 100%;
            max-width: 100%;
            justify-content: space-between;
          }
          // @media (min-width: 1400px) {
          //   flex: 0 0 56%;
          //   max-width: 56%;
          //   margin-left: 0;
          //   margin-top: 30px;
          // }
          // @media (min-width: 1199px) {
          //   max-width: 60%;
          //   flex: 0 0 60%;
          // }
          .chilli {
            position: absolute;
            left: 14px;
            top: 0;
            display: flex;
            border: 1px solid #179c78;
            padding: 0px 5px;
            border-radius: 5px;
            @media (min-width: 768px) {
              left: 20px;
              top: -22px;
              padding: 0px 5px;
            }
            svg {
              width: 15px;
              height: 15px;
              @media (min-width: 768px) {
                width: 26px;
                height: 26px;
              }
            }
            p {
              margin-top: 0px;
              font-size: 12px;
              @media (min-width: 768px) {
                margin-top: 4px;
                font-size: 18px;
              }
            }
          }
          .caloriesCount {
            flex: 0 0 78px;
            max-width: 78px;
            background: #179c78;
            box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
            border-radius: 0px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            padding: 3.5px 2px;
            min-width: 78px;
            height: 20px;
            @media (min-width: 768px) {
              flex: 0 0 88px;
              max-width: 88px;
              min-width: 85px;
              height: 20px;
            }
            @media (min-width: 768px) {
              border-radius: 12px;
              height: 31px;
              flex: 0 0 120px;
              max-width: 120px;
              padding: 7px 2px;
            }
            p {
              @media (min-width: 768px) {
                font-size: 15px;
              }
            }
            &.sty2 {
              background-color: #fab03b !important;
            }
          }
          .boxTitle {
            @media (min-width: 768px) {
              font-size: 18px !important;
            }
          }
          p {
            margin-top: 3px;
            @media (min-width: 768px) {
              font-size: 15px;
              margin-top: 7px;
            }
          }
        }
      }
      .swapIcon {
        position: absolute;
        right: 15px;
        top: 45px;
        .swapIconCta {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          &:disabled {
            opacity: 1;
            color: #fa7324 !important;
          }
          img {
            width: 19px;
            height: 18px;
          }
        }

        &.sty3 {
          right: 50px;
          top: 40px;
          &.orange {
            button {
              svg {
                path {
                  fill: #fa7324;
                }
              }
            }
          }
          button {
            .protienSelected {
              top: 0;
              left: -7px;
              position: absolute;
              border: 1px solid #fa7324;
              border-radius: 50%;
              padding: 2px;
              width: 12px;
              height: 12px;
              @media (min-width: 768px) {
                width: 13px;
                height: 13px;
              }
              p {
                color: #fa7324;
                width: 19px;
                margin-top: 0;
                left: -2px;
                top: 4px;
                @media (min-width: 768px) {
                  width: 19px;
                  margin-top: 0;
                  top: 5px;
                  left: -1px;
                }
              }
            }
            cursor: pointer;
            width: 55px;
            max-width: 55px;
            width: 100%;
            svg {
              width: 41px;
              path {
                fill: #179c78;
              }
            }
            p {
              position: absolute;
              bottom: 0;
              left: -2px;
              color: #fa7324;
              width: 55px;
            }
          }
        }
      }
    }
    .caloriesCountBox {
      flex: 0 0 60%;
      max-width: 60%;
      display: flex;
      justify-content: flex-start;
      margin-top: 0px;
      margin-bottom: 8px;

      @media (min-width: 768px) {
        margin-bottom: 0px;
        margin-top: 10px;
        justify-content: flex-start;
      }
      .caloriesBox {
        border: 0.5px solid #179c78;
        border-radius: 10px;
        padding: 6.5px 0;
        flex: 0 0 32px;
        max-width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 2px;
        &:first-child {
          margin-left: 0;
        }
        @media (min-width: 375px) {
          flex: 0 0 36px;
          max-width: 36px;
          margin: 0 2px;
          padding: 6.5px 0;
        }
        @media (min-width: 768px) {
          flex: 0 0 20%;
          max-width: 20%;
          margin: 0 2.5px;
          padding: 8.5px 0;
        }
        @media (min-width: 1199px) {
          padding: 8.5px 0;
          max-width: 46px;
          flex: 0 0 46px;
        }
        p {
          margin: 0 !important;
          @media (min-width: 768px) {
            font-size: 10px !important;
          }
        }
        &.sty2 {
          background-color: #179c78;
          border-color: #179c78;
          p {
            color: #fff;
            font-size: 10px;
          }
        }
      }
    }
    .totalCalories {
      padding: 30px 10px 14px;
      .totalCaloriesBox {
        text-align: center;
        border: 1px solid #179c78;
        border-radius: 12px;
        padding: 28px;
      }
      @media (min-width: 768px) {
        padding: 30px 0 0;
        .totalCaloriesBox {
          background: #d1ebe4;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px;
          .heading {
            font-size: 15px;
          }
          .caloriesTotalBox {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            flex: 0 0 70%;
            max-width: 70%;
            .heading {
              font-size: 25px;
              padding-left: 25px;
              border-left: 1px solid #179c78;
              margin-left: 8px;
              @media (min-width: 768px) {
                font-size: 15px;
              }
              @media (min-width: 1199px) {
                font-size: 25px;
              }
            }
          }
          .caloriesCountBox {
            flex: 0 0 60%;
            max-width: 60%;
            margin: 0;
            justify-content: flex-end;
            @media (min-width: 768px) {
              max-width: 80%;
              flex: 0 0 80%;
            }

            .caloriesBox {
              border: none;
              p {
                font-size: 15px !important;
                color: #000;
                @media (min-width: 768px) {
                  font-size: 12px !important;
                }
                @media (min-width: 1199px) {
                  font-size: 15px !important;
                }
              }
            }
          }
        }
      }
      &.sty2 {
        .caloriesCountBox {
          max-width: 100%;
          justify-content: center;
          @media (min-width: 768px) {
            max-width: 60%;
            justify-content: flex-end;
          }
          .caloriesBox {
            display: flex;
            padding: 6.5px 0px;
            margin: 0 5.5px;
            @media (min-width: 768px) {
              display: inline-block;
              flex: 0 0 22%;
              max-width: 22%;
              margin: 0;
              padding: 0;
            }
            p {
              padding: 0;
              @media (min-width: 768px) {
                padding: 0 1px;
              }
            }
          }
        }
      }
      &.isExecutive {
        background: #f4f4f8 !important;
        border: 1px solid #fa7324 !important;;
        border-radius: 12px;
        .caloriesTotalBox {
          .heading {
            color: #fa7324 !important;
          }
        }
      }
    }
  }
}
