.planBoxWrapper {
  padding: 27px 14px 20px;
  &.sty2 {
    padding: 0;
  }
  .BoxWrapper {
    padding: 28px 0;
    text-align: center;
    &.sty2 {
      padding: 0;
    }
    @media (min-width: 768px) {
      padding: 28px 34px;
    }
    .mealText {
      padding-bottom: 0px;
      @media (min-width: 768px) {
        padding-bottom: 30px;
      }
      .heading {
        margin-bottom: 20px;
      }
      .para {
        max-width: 100%;
        margin: auto;
        @media (min-width: 768px) {
          max-width: 700px;
        }
      }
    }
    .mealPlanWrapper {
      margin: 0 auto;
      max-width: 100%;
      position: relative;
      @media (min-width: 768px) {
        max-width: fit-content;
      }
      .mealIcon {
        margin-bottom: 10px;
      }
      .mealContentBoxWrapper {
        flex-wrap: wrap;
        margin: 26px 0;
        display: flex;
        align-items: top;
        padding-bottom: 0;

        justify-content: center;
        @media (min-width: 768px) {
          justify-content: center;
          align-items: center;
          padding-bottom: 36px;
        }
        .mealBoxWrapper {
          margin: 10px;
          @media (max-width: 768px) {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 10px 0;
          }
          .mealBox {
            width: 80px;
            height: 80px;
            overflow: hidden;
            margin-bottom: 0;
            border-radius: 12px;
            border: 2px solid #179c78;
            @media (min-width: 768px) {
              width: 100px;
              height: 100px;
              margin-bottom: 22px;
              margin: 0 auto;
            }
            &.sty2 {
              border: 2px solid #fab03b;
              .mealBoxText {
                background-color: transparent;
                h2 {
                  color: #fab03b;
                }
              }
            }
            .mealBoxText {
              height: 100%;
              display: flex !important;
              align-items: center;
              flex-direction: column;
              justify-content: center;
              h2 {
                font-family: "AWConquerorInline";
                color: #179c78;
                // font-size: 22px;
                // @media (min-width: 992px) {
                //   font-size: 26px;
                // }
                // @media (min-width: 1441px) {
                //   font-size: 30px;
                // }
              }
              p {
                width: 90%;
              }
            }
            .boxGrid {
              margin-bottom: 20px;
              width: 80px;
              margin-right: 0px;
              text-align: center;
              max-width: 29%;
              flex: 0 0 29%;
              @media (min-width: 768px) {
                // margin: 0 14px;
                margin-bottom: 20px;
                width: 100%;
                max-width: 27%;
                flex: 0 0 27%;
                // max-width: 12%;
                // flex: 0 0 12%;
              }
              // &:last-child {
              //   margin-right: 0px;
              // }
              .sliderBox {
                width: 76px;
                height: 76px;
                margin-bottom: 22px;
                border-radius: 12px;
                // margin-left: auto;
                // margin-right: auto;
                // border: 2px solid #179c78;
                &.sty2 {
                  border: 2px solid #179c78;
                }
                @media (min-width: 768px) {
                  width: 100px;
                  height: 100px;
                }
              }
            }
            .mealBoxText1 {
              height: 100%;
              display: flex;
              align-items: center;
              border-radius: 12px;
              flex-direction: column;
              justify-content: center;
              background-color: #d1ebe4;
              .heading {
                font-size: 30px;
                font-weight: normal;
              }
              .para {
                font-size: 10px;
                max-width: 80px;
                @media (min-width: 768px) {
                  font-size: 12px;
                }
              }
            }
          }
          .mealName {
            padding: 2px 0;
            p {
              padding-bottom: 15px;
            }
          }
        }
      }
    }
    .countText {
      .para {
        margin-bottom: 20px;
      }
    }
    .quantityBox {
      position: relative;
      border-radius: 12px;
      border: 1px solid #179c78;
      max-width: 100%;
      @media (min-width: 374px) {
        max-width: 270px;
        margin: 0 auto;
        border-radius: 24px;
      }
      @media (min-width: 768px) {
        max-width: 400px;
        margin: 0 auto;
        border-radius: 24px;
      }
      .quantityBoxContent {
        padding: 20px;
        .reset {
          cursor: pointer;
          right: 0;
          top: -40px;
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          @media (min-width: 374px) {
            top: 25px;
            right: -40px;
          }
          @media (min-width: 768px) {
            top: 25px;
            right: -40px;
          }
          p {
            font-size: 12px;
            margin-top: 1px;
          }
          svg {
            width: 20px;
            height: 20px;
            @media (min-width: 768px) {
              width: 26px;
              height: 26px;
            }
          }
        }
        .heading {
          @media (min-width: 768px) {
            font-size: 40px;
          }
        }
      }
    }
    .proteinPara {
      display: flex;
      margin-top: 18px;
      align-items: center;
      justify-content: center;
      .text {
        .para {
          span {
            font-weight: bold;
          }
        }
      }
      .img {
        cursor: pointer;
        width: 18px;
        height: 18px;
        display: flex;
        margin-left: 5px;
        border-radius: 100%;
        align-items: center;
        justify-content: center;
        background-color: #fa7324;
      }
    }
  }
}
.secLogin {
  .css-ittuaa-MuiInputAdornment-root {
    margin-right: 0;
  }
}
