.secContentWrapper {
  text-align: center;
  padding-bottom: 30px;
  @media (min-width: 768px) {
    padding-bottom: 50px;
  }
  @media (min-width: 1441px) {
    padding-bottom: 70px;
  }
  .secContent {
    max-width: 87%;
    margin: auto;
    @media (min-width: 768px) {
      max-width: 55%;
    }
    h2 {
      margin-bottom: 22px;
    }
  }
}
