.OptionsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &.PlanPreferenceChanger {
        gap: 26px;

        @media (max-width: 768px) {
            gap: 20px;
        }

        @media (max-width: 500px) {
            justify-content: space-between;
            gap: 5px;
        }
    }

    @media (max-width: 768px) {
        gap: 24px;
    }

    @media (max-width: 500px) {
        &.belowPillWeekDays {
            gap: 19px;
            justify-content: center;
        }

        justify-content:space-evenly;
    }

    @media (max-width: 450px) {
        gap: 12px;
        padding-right: 8px;
    }

    .option {
        display: flex;
        position: relative;
        height: 68px;
        width: 68px;
        // background-color: #179c78;
        justify-content: center;
        align-items: center;
        gap: 17px;
        border-radius: 18px;
        cursor: pointer;

        &.PlanPreferenceChanger {
            border-radius: 10px;
            height: 45px;
            width: 45px;
            gap: 15px;

            @media (max-width: 768px) {
                height: 45px;
                width: 45px;
            }

            @media (max-width: 550px) {
                height: 45px;
                width: 45px;
            }
        }

        &.optionWeeksDays {
            width: 160px;
            border-radius: 40px;
            height: 70px;
            gap: 15px;

            @media (max-width: 768px) {
                height: 50px;
                width: 160px;
            }

            @media (max-width: 550px) {
                width: 120px;
            }
        }

        @media (max-width: 768px) {
            height: 52px;
            width: 52px;
            border-radius: 12px;
        }

        &.disabled {
            background-color: #d6d6d6;
            // pointer-events: none;

        // disabled red line across the option 
        //     &::after { // Use &::after to target the current .option element
        //     position: absolute;
        //     content: "";
        //     width: 2px; 
        //     height: 115%; 
        //     background-color: red;
        //     top: 50%; 
        //     left: 50%;
        //     transform: translate(-50%, -50%) rotate(45deg); 
        //     z-index: 10; 
        // }

            .optionText {
                color: #fff !important;
            }
        }

        &.selected {
            background-color: #fa7324;

            .optionText {
                color: #fff !important;
            }
        }

        .upto {
            position: absolute;
            border-radius: 50%;
            top: -30px;
            right: -8px;
            height: 35px;
            font-size: 10px;
            font-weight: 300;
        }

        .aboveCapsule {
            position: absolute;
            border-radius: 50%;
            top: -15px;
            right: -15px;
            height: 40px;
            width: 40px;
            color: white;
            font-size: 12px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            line-height: 100%;

            @media (max-width: 768px) {
                height: 26px;
                width: 26px;
                border-radius: 20px;
                font-size: 8px;
                padding: 1px;
                top: -15px;
                right: -8px;
            }
        }

        .belowPillsWrapper {
            pointer-events: none;
            position: absolute;
            bottom: -110%;
            // right: 0px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 4px;

            
            &.PillWeekDays {
                bottom: -115%;
                // right: 3px;
            }
            
            &.tabbySupport {
                bottom: -155%;
            }
            &.PlanPreferenceChanger {
                right: -20%;
                align-items: center;
            }

            .belowPill {
                padding: 3px 4px;
                border-radius: 8px;
                font-size: 9px;
                width: max-content;
                font-weight: 300;
                text-align: center;
                min-width: 70px;
                &.belowPillWeekDays {
                    min-width: 100px;
                    font-size: 10px;

                    @media (max-width: 768px) {
                        min-width: 90px;
                        padding: 2px 3px;
                        font-size: 9px;
                    }
                    @media (max-width: 768px) {
                        min-width: 80px;
                    }
                }

                &.PlanPreferenceChanger {
                    font-size: 7px;

                    @media (max-width: 768px) {
                        padding: 2px 3px;
                        font-size: 7px;
                    }
                }

                @media (max-width: 768px) {
                    min-width: 60px;
                    padding: 2px 3px;
                    font-size: 8px;
                }

                @media (max-width: 440px) {
                    min-width: 50px;
                    padding: 1px 2px;
                    font-size: 7px;
                }
            }
        }

        .optionText {
            color: white;
            font-size: 28px;
            font-weight: 500;
            height: max-content;
            overflow: hidden;

            &.textWeekDays {
                font-size: 18px;
                 @media (max-width: 769px) {
                    font-size: 18px !important;
                }
            }
            &.PlanPreferenceChanger {
                font-size: 18px;
            }
                @media (max-width: 769px) {
                    font-size: 22px !important;
                }
        }

    }

    // .option:hover {
    //     background-color: #cfebe4;

    //     .optionText {
    //         color: #179c78 !important;
    //     }
    // }
}