.headerWrapper {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  .headerBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: all 0.35s ease;
    flex-direction: column;
    padding: 20px 17px;
    @media (min-width: 768px) {
      flex-direction: row;
      padding: 25px 82px;
    }
    .headerNew {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (min-width: 768px) {
        justify-content: inherit;
      }
    }
    .hamburger {
      position: relative;
      width: 26px;
      height: 30px;
      z-index: 11;
      @media (min-width: 768px) {
        width: 33px;
      }
      span {
        position: absolute;
        width: 26px;
        height: 4px;
        background-color: #ffffff;
        border-radius: 6px;
        overflow: hidden;
        top: 0;
        transition: all 0.35s ease;
        @media (min-width: 768px) {
          height: 3px;
          width: 33px;
        }
        &:nth-child(2) {
          top: 10px;
          @media (min-width: 768px) {
            top: 14px;
          }
        }
        &:last-child {
          transition: all 0.35s ease;
          top: 20px;
          @media (min-width: 768px) {
            top: 27px;
          }
        }
      }
    }
    .logo {
      img {
        display: block;
      }
      .bg-white {
        display: none;
      }
    }
  }
  .secMenu {
    .menuBox {
      padding: 75px 20px;
      @media (min-width: 768px) {
        padding: 95px 80px;
        padding-right: 20px;
      }
      ul {
        li {
          padding: 8px 0;
          border-top: 1px solid #ffffff;
          // &:last-child {
          //   border-bottom: 1px solid #ffffff;
          // }
          @media (min-width: 768px) {
            padding: 10px 0;
          }
          @media (min-width: 1500px) {
            padding: 20px 0;
          }
          a {
            cursor: pointer;
            font-weight: 600;
            font-size: 15px;
            line-height: 180%;
            color: #dbf0ea;
            @media (min-width: 768px) {
              font-size: 18px;
            }
            @media (min-width: 1500px) {
              font-size: 20px;
            }
            &.menuItemsExecutive {
              text-decoration-color: #fa7324;
              &:hover {
                text-decoration-color: #fff;
              }
            }
          }
        }
      }
      .menuLogo {
        z-index: 0;
        position: absolute;
        bottom: 60px;
        right: 0;
        img {
          display: block;
        }
        @supports (-webkit-touch-callout: none) {
          bottom: 70px;
        }
        @media (min-width: 768px) {
          bottom: 50px;
        }
        @media (min-width: 992px) {
          bottom: 0;
        }
      }
    }
  }
}
.social {
  &.isExecutive{

      background-color: #fa7324 ;
   
  }
  right: 40px;
  bottom: 40px;
  z-index: 10;
  position: fixed;
  border: 1px solid #fff;
  // background-color: #119a77; // new green  
  background-color: #179c78;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  &.isExecutive{
    background-color: #fa7324;
  }
  a {
    img {
      width: 50px;
      height: 50px;
      display: block;
    }
  }
    @media (max-width: 768px) {
      width: 58px;
      height: 58px;
      a {
      img {
      width: 32px;
      height: 32px;
      }
      }
  }
   &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #119a77;
    animation: ripple 1.5s infinite ease-out;
    z-index: 0;
  }

  * {
    position: relative;
    z-index: 1; // ensures content is above ripple
  }
}
// Ripple Animation
@keyframes ripple {
  0% {
    transform: scale(0.9);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.5);
    opacity: 0;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}