.macrobalanced {
  &.isExecutive {
    .switch {
      input:checked[type="checkbox"] {
        background: #119a77 !important;
      }
    }
  }
  padding-top: 7px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    padding-bottom: 44px;
    padding-top: 58px;
  }
  .headingWrap {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      margin-bottom: 0;
      flex: 0 0 50%;
      max-width: 50%;
    }
    span {
      margin-top: 15px;
      flex: 0 0 100%;
    }
    h2 {
      padding-left: 15px;
    }
  }
  .MacroContentWrapped {
    display: flex;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    @media (min-width: 768px) {
      flex: 0 0 550px;
      max-width: 550px;
    }
    .mealonlytxt {
      flex: 0 0 42%;
      max-width: 42%;
      .mbwrapper {
        display: flex;
        align-items: flex-start;
        .mbicon {
          border: 0.5px solid #179c78;
          background-color: #179c78;

          border-radius: 10px;
          padding: 7px;
        }
        .mbicontxt {
          margin-left: 5px;
          @media (min-width: 768px) {
            margin-left: 15px;
          }
        }
      }
    }
    .switch {
      flex: 0 0 10%;
      max-width: 10%;
      margin-left: -15px;
      input[type="checkbox"] {
        position: relative;
        width: 34px;
        height: 15.3px;
        -webkit-appearance: none;
        // background: #c6c6c6;
        outline: none;
        // background: #fa7324;
        border-radius: 20px;
        border: 1px gray solid;
        // box-shadow: inset 0 0 5px rgba(255, 0, 0, 0.2);
        transition: 0.7s;
      }

      input:checked[type="checkbox"] {
        background: #119a77;
      }

      input[type="checkbox"]:before {
        content: "";
        position: absolute;
        width: 11.9px;
        height: 11.9px;
        border-radius: 20px;
        top: 1px;
        left: 1px;
        background: #3e494d;
        transform: scale(1.1);
        // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }

      input:checked[type="checkbox"]:before {
        left: 20px;
      }
    }
    .varietytxt {
      text-align: left;
      flex: 0 0 42%;
      max-width: 42%;
      @media (min-width: 768px) {
        text-align: left;
        flex: 0 0 40%;
        max-width: 40%;
      }
    }
  }
}
