$primary-color: #fab03b;
$primary-Greencolor: #179C78;
$transition-speed: 0.2s;

.slider_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid $primary-color;
  border-radius: 12px;
  background-color: white;
  width: 109px;

  &.GreenColor {
    border: 2px solid $primary-Greencolor;
  }

  .arrow {
    font-size: 19px;
    color: $primary-color;

    &.GreenColor {
      color: $primary-Greencolor;
    }

    background: none;
    border: none;
    cursor: pointer;
    transition: transform $transition-speed ease;

    &:active {
      transform: scale(1.2);
    }
  }

  .arrow_up {
    font-size: 16px;
    width: 13px;
    cursor: pointer;

  }

  .arrow_down {
    font-size: 16px;
    width: 13px;
    cursor: pointer;

  }

  .number_display {

    margin: 10px 0;
    min-height: 35px;
    /* would center line-through in the middle of the wrapped lines */
    outline-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform $transition-speed ease, opacity $transition-speed ease;

    .numberText {
      font-size: 30px;
      font-weight: 400;
      color: $primary-color;
      &.GreenColor {
        color: $primary-Greencolor ;
      }
      font-family: "AWConquerorInline" !important;
      line-height: 30px;
    }

    &.slide_up {
      transform: translateY(-10px);
      opacity: 0;
    }

    &.slide_down {
      transform: translateY(10px);
      opacity: 0;
    }
  }

  .label {
    font-size: 12px;
    color: #333;
    margin-top: 5px;
  }
}