.sectioWrapper {
  padding: 16px 0 30px;
  @media (min-width: 768px) {
    padding: 41px 0 41px;
  }
  .contact_Us_sec {
    max-width: 628px;
    margin: auto;
    .heading {
      font-weight: 600;
      text-align: left;
      margin-bottom: 30px;
      @media (min-width: 768px) {
        text-align: center;
        margin-bottom: 50px;
      }
    }

    .contact_details {
      .contact_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 769px) {
          flex-direction: column;
        }
        .detail_box {
          padding-left: 20px;
          max-width: 45%;
          flex: 0 0 45%;
          margin-bottom: 40px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          @media (max-width: 768px) {
            padding-left: 0px;
            max-width: 100%;
            margin-bottom: 30px;
          }
          .image {
            width: 80px;
            height: auto;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            @media (min-width: 768px) {
              margin-bottom: 0px;
              width: 80px;
              height: 80px;
            }
            img {
              width: 70%;
              @media (min-width: 768px) {
                width: 100%;
              }
            }
          }
          .text_sec {
            margin-top: 5px;
            padding-right: 20px;
            .head {
              h2 {
                font-weight: 600;
              }
            }
            .btm_txt {
              margin-top: 7px;
              .contact_info {
                display: flex;
                .link {
                  padding: 0 5px;
                  color: #000000;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
    .form_sec {
      margin-top: 35px;
      @media (max-width: 768px) {
        margin-top: 5px;
      }
      .form_wrap {
        margin-bottom: 35px;
        .input_fields {
          margin-bottom: 15px;
          .input {
            max-width: 90%;
            width: 100%;
            color: #4f4f4f;
            padding: 13px 15px;
            font-weight: 500;
            font-size: 14px;
            // font-family: "EuclidCircularB";
            border: 1px solid #e0e0e0;
            border-radius: 24px;
            @media (max-width: 768px) {
              border-radius: 12px;
            }
            &::placeholder {
            }
          }
        }
      }
      .btn_sec {
        &.isExecutive {
          .formButton {
            color: #fff;
            border-color: #179c78;
            background-color: #179c78;
            &:hover {
              color: #fa7324;
              border-color: #fa7324;
              background-color: #fef1ea;
            }
          }
        }
        margin-top: 25px;
        text-align: center;
        @media (min-width: 768px) {
          margin-top: 48px;
        }
        .formButton {
          width: 100%;
          max-width: 216px;
          font-weight: 600;
          color: #179c78;
          margin: 0 6.5px;
          margin-bottom: 10px;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
