.video_sec {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
  .textSec {
    padding-top: 25px;
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 30px;
    @media (min-width: 768px) {
      padding-bottom: 60px;
    }
    text-align: center;
    .para {
      max-width: 400px;
      margin: auto;
      @media (min-width: 768px) {
        margin: 0;
      }
    }
    @media (min-width: 768px) {
      flex: 0 0 40%;
      max-width: 40%;
      text-align: left;
    }
    @media (min-width: 1441px) {
      text-align: left;
      padding-top: 55px;
      flex: 0 0 35%;
      max-width: 35%;
    }
    .heading {
      padding-bottom: 20px;
    }
  }
  .video {
    flex: 0 0 100%;
    max-width: 100%;
    @media (min-width: 768px) {
      flex: 0 0 52.4%;
      max-width: 52.4%;
    }
  }
  .heading_content {
    margin-bottom: 30px;
    .heading {
      text-align: center;
    }
    .para {
      text-align: center;
      max-width: 70%;
      flex: 0 0 70%;
      margin: 0 auto;
      padding-top: 20px;
    }
  }
  // .video {
  //   .plyr {
  //     border-radius: 12px;
  //   }
  // }
  .text_content {
    margin-top: 50px;
    background-color: #e6e6e6;
    padding-top: 46px;
    padding-bottom: 40px;
    .heading {
      text-align: center;
    }
    .para {
      padding-top: 20px;
      max-width: 80%;
      flex: 0 0 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
}
