.discount {
  padding: 27px 37px;
  // padding: 27px 0 30px 0;
  // flex: 0 0 50%; // This was causing the component to not be responsive
  // max-width: 50%;
  border-radius: 20px;
  margin-bottom: 30px;

  @media (max-width: 1399px) {
    padding: 20px 27px;
  }

  @media (min-width: 768px) {
    // padding: 36px 0 70px 0;

  }

  .weekPlanLenText {
    text-align: center;
  }

  .discountMultipleBoxWrapper {
    display: flex;
    gap: 30px;

    .discountWrapper {
      // max-width: 450px;
      // margin: auto;
      display: flex;

      // justify-content: space-around;
      @media (min-width: 768px) {
        // justify-content: center;
      }

      .discountBox {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .para {
          font-weight: 400;
          padding-bottom: 12px;

          @media (min-width: 768px) {
            padding-bottom: 30px;
          }
        }

        @media (min-width: 768px) {
          margin-right: 0px;
        }

        .discountBoxInner {
          display: flex;
          flex-direction: column;
          justify-content: center;
          // padding: 0 10px;
          // height: 88px;
          // width: 110px;
          height: 140px;
          width: 140px;
          border-radius: 12px;
          position: relative;
          // background-color: #fa7324;
          background-color: #179C78;

          &.isExecutive {
            height: 160px;
            width: 160px;

            h1 {
              font-size: 50px;

              @media (min-width: 1440px) {
                font-size: 60px;
              }
            }

            @media (max-width: 768px) {
              height: 140px;
              width: 140px;
            }

          }


          h1 {
            font-size: 40px;

            @media (min-width: 1440px) {
              font-size: 50px;
            }
          }

          @media (max-width: 768px) {
            min-height: 110px;
          }

          @media (max-width: 1399px) {
            height: 110px;
            width: 110px;
          }

          @media (min-width: 768px) {
            justify-content: center;
            padding: 0px;
            // height: 140px;
            // width: 140px;
          }
        }

      }
    }

    &.isExecutive {
      box-sizing: border-box;

      .discountWrapper {
        height: 100%;

        .discountBox {
          @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}