.ticker_sec {
  position: fixed;
  width: 100%;
  z-index: 999;
  .ticker_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding: 15.5px 13px;
    @media (min-width: 768px) {
      padding: 14px 42px;
    }
    @media (min-width: 992px) {
      padding: 14px 82px;
    }
    &.sty2 {
      .content {
        max-width: 99%;
        flex: 0 0 99%;
        @media (min-width: 768px) {
          max-width: 60%;
          flex: 0 0 60%;
        }
      }
      .btn_sec {
        flex: 0 0 1%;
        max-width: 1%;
      }
    }
    &.sty3 {
      .content {
        max-width: 65%;
        flex: 0 0 65%;
        @media (min-width: 768px) {
          max-width: 60%;
          flex: 0 0 60%;
        }
      }
      .btn_sec {
        flex: 0 0 30%;
        max-width: 30%;
        @media (min-width: 768px) {
          max-width: 35%;
          flex: 0 0 35%;
        }
      }
    }
    &.messageSec {
      .content {
        max-width: 60%;
        flex: 0 0 60%;
        @media (min-width: 575px) {
          max-width: 75%;
          flex: 0 0 75%;
        }
        @media (min-width: 768px) {
          max-width: 80%;
          flex: 0 0 80%;
        }
        h2 {
          font-size: 12px;
          @media (min-width: 768px) {
            font-size: 15px;
          }
          @media (min-width: 992px) {
            font-size: 18px;
          }
        }
      }
      .btn_sec {
        max-width: 20%;
        flex: 0 0 20%;
      }
    }
    .content {
      max-width: 60%;
      flex: 0 0 60%;
    }
    .btn_sec {
      height: 38px;
      max-width: 35%;
      flex: 0 0 35%;
      justify-content: flex-end;
      display: flex;
      .btn_small {
        min-height: 20px;
        border-radius: 20px;
        min-width: 100px;
        font-size: 12px;
        border: none;
        background-color: white;
        color: black;
        padding: 5px 10px;
        @media (min-width: 768px) {
          // width: 180px;
          padding: 5px 21.5px;
          height: 40px;
          font-size: 18px;
        }
      }
    }
  }
}
