.footerWrapper {
  background-color: #f4f4f8;
  &.isExecutive{
   .logo{
      svg{
        path{
          fill: rgb(60, 60, 59);
          &:last-child{
            fill: #fa7324;
          }
        }
      }
   } 
  }
  .socialWrapper {
    padding: 26px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      padding: 30px 0;
    }
    .logo {
      img {
        display: block;
      }
    }
    .followUs {
      margin-top: 42px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 0;
      }
      .iconWrapper {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 768px) {
          margin-top: 15px;
          margin-top: 0;
          margin-left: 21px;
        }
        .socialIcon {
          padding: 0 8px;
        }
      }
      &::before {
        content: "";
        width: 100%;
        position: absolute;
        top: -16px;
        height: 0.5px;
        background-color: #3c3c3b;
        @media (min-width: 768px) {
          display: none;
        }
      }
    }
  }
  .footerLinksWrapper {
    padding: 18px 0;
    background: #3c3c3b;
    .footerLinks {
      display: flex;
      justify-content: space-between;
      a {
        color: white;
        line-height: 14px;
      }
    }
  }
}
