.panelDetailWrapperQues {
  min-height: 70vh;
  .mainHeading {
    // padding-left: 20px;
    padding-top: 47px;
    margin-bottom: 35px;
    @media (min-width: 768px) {
      padding-top: 24px;
      // padding-top: 82px !important;
    }
    @media (min-width: 1400px) {
      padding-top: 0px;
      // padding-top: 82px !important;
    }
  }
  .panelTtileBar {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    .panelTitle {
      padding-left: 40px;
      p {
        padding-right: 20px;
        font-size: 15px;
        margin: 5px 0 10px;
        @media (min-width: 768px) {
          font-size: 17px;
          padding-right: 40px;
        }
        @media (min-width: 1400px) {
          font-size: 18px;
        }
      }
    }
  }
  .contactLabels {
    display: flex;
    align-items: center;
    button {
      font-size: 10px;
      min-width: auto;
      padding: 5px 7px;
      margin-right: 3px;
      min-width: 65px;
      svg {
        padding-right: 5px;
      }
    }
  }
  .panelDetailBoxes {
    text-align: left;
    .postBox {
      &.isExecutive{
        &::before{
          background-color: #fa7324;
        }
      }
      padding-top: 0 !important;
      padding: 18px;
      margin-bottom: 10px;
      position: relative;
      padding-left: 50px;
      &::before {
        content: "";
        width: 1px;
        // height: 139px;
        height: 100%;
        background-color: #179c78;
        position: absolute;
        left: 20px;
        top: 0;
      }
      .mealList {
        font-family: "EuclidCircularB";
        margin-top: 10px;
        span {
          display: block;
          a {
            color: #179c78;
            text-decoration: underline;
            display: inline;
          }
        }
        p {
          font-size: 13px;
          @media (min-width: 768px) {
            font-size: 16px;
          }
        }
        ol {
          padding-top: 10px;
          font-family: "EuclidCircularB";
          list-style: decimal;
          font-size: 13px;
          @media (min-width: 768px) {
            font-size: 16px;
          }
          li {
            padding-bottom: 10px;
            list-style-position: inside;
          }
        }
      }
    }
  }
}
