

.editBoxWrapper {
  position: relative;
  .boxWrapper {
    &.isExecutive {
      .boxGridWrapper {
        p {
          a {
            color: #fa7324 !important;
            text-decoration-color: #fa7324 !important;
          }
        }
      }
      .sliderBox {
        border: 2px solid #fa7324 !important;

        h2 {
          color: black !important;
        }
        &.sty2 {
          border: 2px solid #fab03b !important;
          h2 {
            color: black !important;
          }
        }
      }
    }
    padding: 0px 0px 30px 0px;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      padding: 50px 0 30px 0;
      gap: 20px;
    }
    .boxGridWrapper {
      padding: 18px 0;
      position: relative;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: -15px;
      width: calc(100% + 30px);
      padding-top: 30px;
      @media (min-width: 768px) {
        padding: 45px 0;
        margin-left: 0;
        width: 100%;
      }
      &.sty2 {
        background-color: #f4f4f8;
        align-items: center;
        @media (max-width: 1080px) {
          align-items: start;
        }
        @media (max-width: 880px) {
          align-items: center;
        }
        @media (max-width: 480px) {
          align-items: start;
        }
        @media (max-width: 368px) {
          align-items: center;
        }
          @media (min-width: 768px) {
          background-color: transparent;
          border: 1px solid #d1ebe4;
          flex: 0 0 50%;
          max-width: 50%;
        }
        .boxGrid {
          margin-bottom: 20px;
          @media (min-width: 1081px) {
            margin-bottom: 20px;
          }
        }
      }
      @media (min-width: 768px) {
        border: 1px solid #d1ebe4;
        flex: 0 0 48%;
        max-width: 48%;
      }
      .boxGrid {
        flex: 0 0 30%;
        max-width: 30%;
        margin: 0 3px;
        text-align: center;
        @media (min-width: 768px) {
          margin: 0 10px;
          flex: 0 0 27%;
          max-width: 27%;
        }
        @media (min-width: 1081px) {
          margin: 0 10px;
          flex: 0 0 20%;
          max-width: 20%;
        }
        .para {
          &.sty2 {
            min-height: 70.17px;
          }

          font-size: 15px;
          @media (min-width: 1441px) {
            font-size: 18px;
          }
        }
        .sliderBox {
          width: 76px;
          height: 76px;
          margin-bottom: 22px;
          border-radius: 12px;
          margin-left: auto;
          margin-right: auto;
          border: 2px solid #179c78;
          &.sty2 {
            border: 2px solid #fab03b;
            h2 {
              color: #fab03b;
            }
          }
          @media (min-width: 768px) {
            width: 80px;
            height: 80px;
          }
          @media (min-width: 992px) {
            width: 100px;
            height: 100px;
          }
        }
        .para {
          // min-height: 70.17px;
          font-size: 15px;
          @media (min-width: 1441px) {
            font-size: 18px;
          }
        }
      }
    }
    .mealGrid {
      margin-bottom: 30px;
      border-radius: 12px;
      border: 1px solid #179c78;
      ul {
        padding: 14px 20px;
        li {
          margin-bottom: 7px;
          padding-bottom: 7px;
          border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
          &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: 0;
          }
          .caloryBox {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .reset {
    cursor: pointer;
    top: -1px;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row-reverse;
      top: 10px;
      right: 10px;
    }
    p {
      padding-right: 5px;
      margin-top: 1px;
      font-size: 10px;
      @media (min-width: 768px) {
        font-size: 12px;
      }
    }
    svg {
      width: 16px;
      height: 16px;
      @media (min-width: 768px) {
        width: 26px;
        height: 26px;
      }
    }
  }
  .editMoreOptions {
    padding-bottom: 17px;
    .moreOptionsBar {
      cursor: pointer;
      position: relative;
      height: 40px;
      background-color: #179c78;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (min-width: 768px) {
        height: 100%;
      }
      // svg {
      //   position: absolute;
      //   top: 50%;
      //   left: 50%;
      //   height: 20px;
      //   width: 25px;
      //   transform: translate(-50%, -50%);
      // }
      .textWrapperstyles {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        p {
          font-size: 18px;
          @media (min-width: 768px) {
            font-size: 20px;
          }
        }
        @media (min-width: 768px) {
          padding: 20px;
        }
      }
    }
  }
 
}
.boxSlider {
  height: 100%;
  .boxCol {
    height: 100%;
    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .heading {
      font-weight: 500;
      line-height: 1;
    }
  }
}
