.boxWrapper {
  &.isExecutive{
    background-image: none !important;
  }
  text-align: center;
  padding: 40px 30px 50px;
  background-color: #179c78;
  background-image: url(/images/bg/bgimagwWhite70Percen.png);
  background-size: 260%;
  @media (min-width: 768px) {
    padding: 40px 50px 50px;
  }
  &.sty2 {
    background-color: red;
  }
  .boxContent {
    .textBox {
      .heading {
        margin-bottom: 8px;
      }
      .para {
        margin-bottom: 18px;
      }
    }
    .priceBoxWrapper {
      padding: 14px 0;
      margin-bottom: 30px;
      border-radius: 12px;
      border: 1px solid #ffffff;
      .priceBox {
        .heading {
          @media (min-width: 768px) {
            font-size: 40px;
          }
        }
      }
      @media (min-width: 768px) {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 30px;
        border-radius: 24px;
      }
      .para {
        margin-top: 4px;
      }
    }
    .priceBtn {
      .buttonStyle {
        margin-bottom: 10px;
        padding: 5px 21.5px;
        &.sty2 {
          max-width: 265px;
          width: 100%;
          @media (min-width: 768px) {
            max-width: 400px;
            width: 100%;
          }
        }
        span {
          margin-top: 3px;
        }
      }
    }
    .caloriesBox {
      padding: 12.4px;
      border-radius: 24px;
      // max-width: 100%;
      margin: 20px ;
      // background-color: #fff;
      border: 1px solid #fff;
      position: relative;
      text-align: center;
      @media (min-width: 768px) {
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 30px;

      }
      .vat {
        font-size: 15px;
        margin-top: 4px;
        @media (min-width: 768px) {
          font-size: 18px;
        }

      }
      h2 {
        font-weight: 400;
        color: #179c78;
        font-size: 35px;
        font-family: "AWConquerorInline";
        @media (min-width: 992px) {
          font-size: 40px;
        }
      }
      &.sty2 {
        padding: 13.25px !important;
      }
      &.sty1 {
        padding: 14.25px;
      }

      // Adding css for discount logic
     .MultiAmountBox {
        display:flex;
        align-items:center;
        justify-content:center;
        gap:15px;
        height:52px;
      
        .finalAmount{
          font-family: 'AWConquerorInline';
          font-weight: 400;
          // color: #000;
          font-size: 30px;
          @media (min-width: 768px) {
            font-size: 40px;
          }
        }
        .totalAmount{ 
          position: relative;
          font-size:24px;
          color:#AEAEAE;
          font-family: "EuclidCircularB";
          text-decoration:line-through;
          // font-weight:400 !important;
          white-space: nowrap; /* would center line-through in the middle of the wrapped lines */
          @media (min-width: 768px) {
            font-size:28px;
          }
        }
    
        .percentage{
            font-size:24px;
            // color:#AC232C;
            color: #fa7324;
            @media (min-width: 768px) {
              font-size:28px;
            }
        }
        // &.isExecutive {
        //   .finalAmount {
        //     font-family: 'AWConquerorInline';
        //   }
        //   .totalAmount {
        //     font-family: "EuclidCircularB";
        //   }
        //   .percentage {
        //     color: #fa7324;
        //   }
        // }
      }


    }
  }
}
