.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    z-index: 99998;
    /* Below the modal but above other content */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: ease-in-out 0.3s all;

    &.open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.modalWrapper {
    background-color: #119a77;
    background-image: url(../../../public/images/bg/result-bg.png);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    /* Above the backdrop */
    max-width: 575px;
    width: 100%;
    height: auto;
    border-radius: 24px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.modalContent {
    padding: 38px 0px;
    position: relative;
}

.modalTitle {
    color: #ffffff !important;
    font-size: 27px !important;
    line-height: 34.24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 18px;
}

.modalBody {
    width: 100%;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff !important;
    line-height: 15.22px;
    text-align: center;
    display: block;
    max-width: 50%;
    margin: 0 auto 27.5px auto;
}

.inputWrapper{
    margin: 0px;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .button {
        padding: 8.29px 0px;
        max-width: 230px;
        width: 100%;
        text-align: center;
        border-radius: 24px;
        color: #119a77;
        background-color: #ffffff;
        font-size: 14px;
        line-height: 17.75px;
        font-weight: 500;
        font-family: "EuclidCircularB";
        text-transform: inherit;
    }
}
